body{
    background-color:#E4E4E4; 
    background-image: linear-gradient(#f1a3a3, rgb(180, 197, 243));
}

.container{
    background-color:#E4E4E4; 
    background-image: linear-gradient(#f1a3a3, rgb(180, 197, 243));
    text-align: center;
    color:rgb(65, 51, 51);
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

.form-tambah{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

.btn-tambah {
    width: 10%;
    background-color: #428bca;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.btn-tambah:hover {
    background-color: #5bc0de;
}

.btn-edit {
    background-color: #19b114;
    color: white;
    font-family: 'Quicksand', sans-serif;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-edit:hover {
    background-color: #4dd34d;
}

.btn-hapus {
    background-color:#f44336 ;
    color: white;
    font-family: 'Quicksand', sans-serif;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-hapus:hover {
    background-color:#f77e76;
}

.box {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


table{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

td, th{
    border: 1px solid rgb(20, 17, 17);
    padding: 8px;
    
}
tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #df4e66;
    color: white;
    font-family: 'Quicksand', sans-serif;
}
